html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --heading-row-height: 3vmin;
  --sub-heading-row-height: 5vmin;
  --operation-buttons-row-height: 5vmin;
  --board-instance-row-height: calc(100% - var(--heading-row-height) - var(--sub-heading-row-height) - var(--operation-buttons-row-height))
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  height: fit-content;
  display: grid;
  gap: 4px 0;
  grid-template-columns: 100%;
  grid-template-rows: var(--heading-row-height) var(--sub-heading-row-height) var(--operation-buttons-row-height) var(--board-instance-row-height);
  justify-content: center;
  align-items: center;
}

#heading{
  margin: 0;
  text-align: center;
  align-self: center;
  font-size: max(5vmin, 34.5px);
  min-height: 40px;
}

#sub-heading{
  margin: 0;
  text-align: center;
  align-self: center;
  font-size: max(2.5vmin, 17px);
  min-height: 23px;
}

#operation-buttons-container{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px 100px;
  gap: 0px 10px;
  justify-content: center;
  min-height: 37px;
  height: var(--operation-buttons-row-height);
  align-self: center;
}

#sudoku-instance-form{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 332px;
  min-width: 381px;
}
